services:
  postgres:
    image: postgres:17.4
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: storageDB
      POSTGRES_USER: edzil
      POSTGRES_PASSWORD: edzil
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
