.Task {
  display: flex;
  white-space: nowrap;
  width: fit-content;
  max-width: 100%;
  gap: 30px;
  background-color: #212121;
  margin-top: 30px;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
}
.EditInputbar {
  /* height: 24px;
  margin-top: 20px;
  margin-bottom: 20px; */
  border-radius: 10px;
  outline: 2px solid #febf00;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}
.EditInputbar:focus {
  outline-offset: 5px;
  background-color: #fff;
}
.Form {
  width: 800px;
  background-color: #212121;
  height: 100px;
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  margin: 20px auto;
  align-items: center;
  border-radius: 20px;
}

.FormInput {
  border-radius: 10px;
  outline: 2px solid #febf00;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}
.FormInput:focus {
  outline-offset: 5px;
  background-color: #fff;
}

button {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}
